@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

section {
  padding-left: 16px;
  padding-right: 16px;
  &.description-1 {
    margin-bottom: 32px;
    img {
      width: 100%;
      margin-bottom: 25px;
    }
    h2,
    h2 span {
      font-size: 50px;
      font-family: $primary-font;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 45px;
      color: $black;
    }
    h2 span {
      display: block;
    }
    h2 {
      margin-bottom: 21px;
    }
    p {
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: $grey;
    }
  }
  &.description-2 {
    margin-bottom: 120px;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
    div.description-2_information {
      background-color: $black;
      padding: 48px 24px;
    }
    h2,
    h2 span {
      font-size: 50px;
      font-family: $primary-font;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 45px;
      color: $white;
    }
    h2 span {
      display: block;
    }
    h2 {
      margin-bottom: 24px;
    }
    p {
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: $white;
    }
  }
}
